<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Server Time</b> <%= Time.now %>
  </div>
  <strong>Copyright &copy; <%= Time.now.year %> <a href="#">IMT SOLUTION</a>.</strong> All rights reserved.
</footer>