
<!--slider-->
<div class="top-baner swiper-animate arrows">
  <div class="swiper-container main-slider" data-autoplay="5000" data-loop="1" data-speed="900" data-center="0" data-slides-per-view="1">
    <div class="swiper-wrapper">
      <div class="swiper-slide active" data-val="0">
        <div class="clip">
          <div class="bg bg-bg-chrome act" style="background-image: url(<%= asset_path 'http://lasvegashelicopter.tours/wp-content/uploads/2017/07/Las-Vegas-Day-Strip.jpg' %>)">
          </div>
        </div>
        <div class="vertical-align">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="main-title vert-title">
                  <div class="top-weather-info delay-1">
                    <p>Sai Gon</p>
                    <%= image_tag('non-admin/weather_icon.png', alt: '') %>
                    <span>+30&deg;C</span>
                  </div>
                  <h1 class="color-white delay-1">Celebrate LIFE<br> Through Travel</h1>
                  <p class="color-white-op delay-2">We LOVE to travel and hope that you have an INCREDIBLE travel experience with us.</p>
                  <a href="#" class="c-button bg-aqua hv-transparent delay-2"><%=image_tag('non-admin/loc_icon.png', alt: '') %><span>view our tours</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination pagination-hidden poin-style-1"></div>
  </div>
  <div class="arrow-wrapp m-200">
    <div class="cont-1170">
      <div class="swiper-arrow-left sw-arrow"><span class="fa fa-angle-left"></span></div>
      <div class="swiper-arrow-right sw-arrow"><span class="fa fa-angle-right"></span></div>
    </div>
  </div>
</div>

<div class="main-wraper">
  <div class="clip">
    <div class="bg bg-bg-chrome" style="background-image: url(https://s3.amazonaws.com/juscollege-site/assets/images/home/custom-trip.jpg)">
    </div>
  </div>
  <div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="1000" data-slides-per-view="1" id="tour-slide">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="slider-tour padd-90-90">
                <h3>Why IMT</h3>
                <h2>Travel Together</h2>
                <h5>Our team specializes in planning and organizing, so you can focus on having fun with your friends.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="slider-tour padd-94-94">
                <h3>Why IMT</h3>
                <h2>Easy Payments</h2>
                <h5>From low deposits to payment plans to split payments, we make paying for your trip easy. No service or payment plan fees.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="slider-tour padd-94-94">
                <h3>Why IMT</h3>
                <h2>CURATED EXPERIENCES</h2>
                <h5>As “Your College Concierge” we believe in creating awesome and unforgettable experience for you and your group.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination poin-style-1"></div>
  </div>
</div>