<% provide(:title, 'Privacy Policy') %>

<div class="main-wraper padd-90 bg-grey-2 tabs-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="second-title">
          <h2>Privacy Policy</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="simple-tab type-2 tab-wrapper">
          <div class="tabs-wrap-style clearfix">
            <div class="tab-info active" style="display: block;">
              <div class="acc-body">
                <div class="acc-body-block">
                  <h5>What Does This Privacy Policy Cover?</h5>
                  <p>This Privacy Policy covers Company’s treatment of personally identifiable information ("Personal Information") that Company gathers when you access the Website through Facebook® and/or create an account with the Website. This Privacy Policy only governs information collected on the Website. This policy does not apply to the practices of companies that Company does not own or control, or to individuals that Company does not employ or manage. The Website contains links to other sites. The Company is not responsible for the privacy policies and/or practices on other sites. When linking to another site you should read the privacy policy stated on that site.</p>
                </div>
                <div class="acc-body-block">
                  <h5>What Information Does Company Collect?</h5>
                  <p>We may collect personal information from you, such as your name, email address, postal address, phone number, credit card number, gender, birthday, personal interests, etc. when you access the Website through Facebook® , create an account on the Website, contact us by phone, contact us with a question or concern, or participate in a contest, promotion, or survey. In most cases, the information you’ve provided to your Facebook® profile will be provided to us when you access the Website through Facebook. In addition, when you contact us through the Website or via Facebook, we may collect your Internet Protocol (IP) address, your operation system type, your browser type, and your activity on our Website, etc. We may maintain a record of your product interests and the purchases you make. We may combine all of this information with information about you that we acquire from our joint marketing partners, from unrelated third parties, and from any of our related brands.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>