<div class="inner-banner style-6">
  <div class="container">
    <div class="row">
      <div class="list-content col-md-3">
        <%= render partial: 'partials/user_profile' %>
      </div>
      <div class="col-md-9">
        <div class="list-content clearfix">
          <div class="simple-tab tab-3 color-1 tab-wrapper">
            <div class="tab-nav-wrapper">
              <div class="nav-tab  clearfix">
                <div class="nav-tab-item active">
                  Your Trips
                </div>
                <div class="nav-tab-item">
                  Legal Information
                </div>
                <div class="nav-tab-item">
                  Emergency Contact
                </div>
              </div>
            </div>
            <div class="tabs-content clearfix">
              <div class="tab-info active" style="min-height: 400px;">
              </div>
              <div class="tab-info" style="min-height: 400px;">
                <div class="second-title">
                  <h3 class="color-grey">Coming Soon</h3>
                </div>
              </div>
              <div class="tab-info" style="min-height: 400px;">
                <div class="second-title">
                  <h3 class="color-grey">Coming Soon</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>