<footer class="bg-dark type-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="footer-block" style="margin-top: -10px">
          <%=image_tag('logo-imt.png', alt: 'logo-footer')  %>
          <div class="f_text color-grey-7">
            <div>© 2017, IMT Solution.</div>
            <div>All rights reserved</div>
          </div>
          <div class="footer-share">
            <a href="#"><span class="fa fa-facebook"></span></a>
            <a href="#"><span class="fa fa-twitter"></span></a>
            <a href="#"><span class="fa fa-instagram"></span></a>
            <a href="#"><span class="fa fa-pinterest"></span></a>
            <a href="#"><i class="fa fa-snapchat-ghost"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="footer-block">
          <h6>Travel News</h6>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="footer-block">
          <h6>Contact Info</h6>
          <div class="contact-info">
            <div class="contact-line color-grey-3"><i class="fa fa-map-marker"></i><span></span></div>
            <div class="contact-line color-grey-3"><i class="fa fa-phone"></i></div>
            <div class="contact-line color-grey-3"><i class="fa fa-envelope-o"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-link bg-black">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            <span>&copy; <%= Time.current.year %>  All rights reserved. IMT Solution</span>
          </div>
          <ul>
            <li><a class="link-aqua" href="/privacy-policy">Privacy Policy </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
 